---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=Sleek%20Iron%20Watch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - 85f2d05cf592fdb1463a6a5ad4f74ea1/10490272560525382778;o=0
      X-Etsy-Request-Uuid:
      - EuLgOlCnDx7BFiOeDZ-WWB7YLec4
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9936'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":0,"results":[],"params":{"limit":25,"offset":0,"page":null,"keywords":null,"sort_on":"created","sort_order":"down","min_price":null,"max_price":null,"color":null,"color_accuracy":0,"tags":"Sleek
        Iron Watch","taxonomy_id":null,"location":null,"lat":null,"lon":null,"region":null,"geo_level":"city","accepts_gift_cards":"false","translate_keywords":"false"},"type":"Listing","pagination":{"effective_limit":25,"effective_offset":0,"next_offset":null,"effective_page":1,"next_page":null}}'
  recorded_at: Mon, 19 Jul 2021 17:01:13 GMT
recorded_with: VCR 6.0.0
