---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=nintendo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - f896cd500e8fddc66606bf9192807e81/7439718306693252558;o=1
      X-Etsy-Request-Uuid:
      - EutmRXzK92my1UFeTRKG-dU2Ym90
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9935'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":50100,"results":[{"listing_id":1040011614,"state":"active","user_id":92602588,"category_id":null,"title":"Large
        Retro Video Game Character | Game Room Decor | Nintendo Decor for Boys | Nerd
        Gifts | Video Game Lovers | Christmas Gift for Gamers","description":"Fire
        and Ice Mario Flowers from Super Mario. Video game decor, Potted Faux Desk
        Plant , Super Mario Fan Art\n\nDon&#39;t have a green thumb? No problem!!\n\nThere
        is no need to water these awesome &quot;faux&quot; potted plants! These are
        great to display on any shelf or in any room, like a game room or game area,
        a desk at work, a coffee table, as a center piece at a party, they also make
        great gifts for your gamer friends!\n\nThe plant sits secured in a tiny clay
        pot which makes it the perfect decor for your inner geek!\nThis is made from
        plastic fuse beads \nYou can order them as a pair, or choose one or the other.
        \n\nApprox Dimensions\n\n6 in x 3 in \n\nNot seeing the design you like? Feel
        free to place a custom order!\nI have over 180 colors of mini beads, and a
        creative imagination!\nIt&#39;s possible to order anything such as key chains,
        pins, magnets, earrings and more. Dont see it just send me a message and I
        will be happy to create it for you.\n\nCheck out some of the similar items
        I offer below. \n\nhttps:\/\/etsy.me\/320OeKK\n\nhttps:\/\/etsy.me\/30Uvtas","creation_tsz":1626713922,"ending_tsz":1637344722,"original_creation_tsz":1626710250,"last_modified_tsz":1626713962,"price":"14.95","currency_code":"USD","quantity":3,"sku":[],"tags":["teen
        boy gifts","nerd gift","gift for gamer","super mario flower","video game decor","boys
        bathroom art","16 bit character","8 bit flower","video game lovers","retro
        gaming gift","mario party decor","fire flower nintendo","game room decor"],"materials":[],"shop_section_id":26597900,"featured_rank":null,"state_tsz":1626713707,"url":"https:\/\/www.etsy.com\/listing\/1040011614\/large-retro-video-game-character-game?utm_source=gifty&utm_medium=api&utm_campaign=api","views":0,"num_favorers":0,"shipping_template_id":62611002055,"processing_min":1,"processing_max":2,"who_made":"i_did","is_supply":"false","when_made":"2010_2019","item_weight":"6","item_weight_unit":"oz","item_length":"6","item_width":"4","item_height":"4","item_dimensions_unit":"in","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","should_auto_renew":true,"language":"en-US","has_variations":true,"taxonomy_id":130,"taxonomy_path":["Art
        & Collectibles","Sculpture","Figurines"],"used_manufacturer":false,"is_vintage":false},{"listing_id":510621796,"state":"active","user_id":61928785,"category_id":null,"title":"Nintendo
        Posters Video Game Art Set of Nintendo Patent Prints Gaming Posters Gaming
        Decor Gift for Gamer Computer Wall Art Computer WB065","description":"\u2665
        COLORS \u2665\n5 color backgrounds to choose from:\nChalkboard Black     (1st
        image)\nParchment                 (2nd image)\nIvory                           (3rd
        image)\nBlueprint                    (4th [...]
