---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=nintendo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - 64306ca1ac18c7275b8536e2d5138f71/12748540123150943117;o=0
      X-Etsy-Request-Uuid:
      - EuqrO_hC9SqA9HZ3uJKs9K3Bmtbb
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9965'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":50100,"results":[{"listing_id":1046419605,"state":"active","user_id":232530130,"category_id":null,"title":"Kawaii
        Moon & Heart Wand Phone Charm\/Dust Plug - Phone, Nintendo Switch Charm, Keyring","description":"1x
        Crescent Moon Wand Charm OR\n1x Heart Wand Charm (approx 100mm from jumpring)\n\nOne
        dust plug\/charm consists of a cord phone strap with acrylic beads and a 45x20mm
        alloy Crescent Moon Charm\/50x15mm Heart Charm as well as a secondary alloy
        Sakura\/Heart charm attached using brass chain. The dust plug is 3.5mm in
        diameter. \n\nA lobster clasp is included which comes with a detachable dust
        plug to attach the charm to a switch\/headphone jack. You can also attach
        the charm to your phone case by using the coloured elastic band (can also
        be removed for design purposes)\n\nThis charm is perfect to add a lil something
        cute to your accessories as you can also clip the lobster clasp onto your
        keys, bag, zipper etc.\n\nIf you have any other queries, please feel free
        to contact me. :)\n\nThank you so much for stopping by! :D\nVisit our store
        for more charms like this one :)","creation_tsz":1626704263,"ending_tsz":1637335063,"original_creation_tsz":1625425685,"last_modified_tsz":1626704263,"price":"3.99","currency_code":"GBP","quantity":11,"sku":[],"tags":["charm","flower","anime","kawaii","cute","Acrylic","keyring","accessory","nintendo
        switch","dust plug","pink"],"materials":["Acrylic","Alloy","Brass"],"shop_section_id":34000918,"featured_rank":null,"state_tsz":1625427784,"url":"https:\/\/www.etsy.com\/listing\/1046419605\/kawaii-moon-heart-wand-phone-charmdust?utm_source=gifty&utm_medium=api&utm_campaign=api","views":104,"num_favorers":33,"shipping_template_id":140149768818,"processing_min":1,"processing_max":1,"who_made":"i_did","is_supply":"false","when_made":"made_to_order","item_weight":null,"item_weight_unit":"g","item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"mm","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","should_auto_renew":true,"language":"en-US","has_variations":true,"taxonomy_id":165,"taxonomy_path":["Accessories","Keychains
        & Lanyards","Keychains"],"used_manufacturer":false,"is_vintage":false},{"listing_id":885071821,"state":"active","user_id":130863063,"category_id":null,"title":"Nintendo
        Switch, Game Night, Mascha planner, Happy planner, Planner, Bullet journal,
        bujo stickers, 3,15 inch, gaming, laptop sticker, notes","description":"A
        nintendo switch sticker to decorate your laptop, phone case, notebook... just
        everything you want to decorate with this cute nintendo switch!\nAvailable
        in 3 colors: \n-Mint and blue (animal crossing switch) \n-Red and blue\n-Green
        and pink\n\n\u2665 Glossy sticker paper (not water resistant)\n\n\u2665 Sticker
        sheets have a kisscut, making the stickers easy to remove from the sheet\n\n\u2665Handmade
        and illustrated by me.\n\n- PACKAGING -\n* Traditional plastic cello covers
        to protect your stickers!\n* Hardback envelope so that the stickers cannot
        be folded during shipping.\n* A little thank you note will be included.\n\nPlease
        note that colors may vary slightly due to the difference in monitor resolutions.\n\n\u2728
        be sure to leave a review, including a picture if you want! \u2728\n\n***To
        keep the shipping costs as low as possible, I don\u2019t use track and trace.
        This means there is a very small chance of the package getting lost in the
        mail. If you think this might have happened please contact me!***\n\n\n\u2661
        COPYRIGHT: All items & custom artwork are copyrighted and are strictly for
        personal use\n\n\n-FIND-ME-HERE-\n\nInstagram: https:\/\/instagram.com\/lauragoedkoopdesign\/\n\nI
        really hope you will enjoy all of your goodies, don&#39;t forget to tag me
        on instagram and let me know what you think!\u2665","creation_tsz":1626704215,"ending_tsz":1637335015,"original_creation_tsz":1602411044,"last_modified_tsz":1626704215,"price":"1.50","currency_code":"EUR","quantity":15,"sku":[],"tags":["[...]
