---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=nintendo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - e79fa9d052b913ee27991ddc76fb00fe/17617466572437125018;o=0
      X-Etsy-Request-Uuid:
      - Eufbsi-xELR82wNAMpUJdVVYCUf1
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9941'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":50100,"results":[{"listing_id":946614298,"state":"active","user_id":446197373,"category_id":null,"title":"Gameboy
        Game Cartridge Display Holder - Multiple Options Available","description":"Display
        your Game Boy cartridges with pride! These displays are made using high-quality
        3D printed PLA plastic and made to order! There&#39;s just enough room in
        each slot to be able to tilt the games and see what each cartridge is. Fits
        both Game Boy and Game Boy Advance games!\n\nYou can have anywhere from 2-14
        slots. In addition, there are multiple color options available. Please indicate
        the Game Boy logo color in the personalization options!\nDon&#39;t see a color
        you like? Contact me so we can find a color solution you&#39;ll love!\n\nI
        try hard to eliminate any defects during the printing process. However, small
        surface defects might be visible in the finished product. My general rule
        is that if I wouldn\u2019t want to display it myself, it isn\u2019t good enough
        to ship!\n\nThank you for checking out my shop and please feel free to contact
        me with any questions!","creation_tsz":1626715392,"ending_tsz":1637346192,"original_creation_tsz":1612986221,"last_modified_tsz":1626715392,"price":"5.49","currency_code":"USD","quantity":3,"sku":[],"tags":["Game
        Boy","Game Boy Advance","Pokemon","Nintendo","Cartridge","Display","Holder","Game
        Tray","Stand","GBASP","Gameboy Pocket","Gameboy Color","Cartridge Tray"],"materials":[],"shop_section_id":34070333,"featured_rank":1,"state_tsz":1620534545,"url":"https:\/\/www.etsy.com\/listing\/946614298\/gameboy-game-cartridge-display-holder?utm_source=gifty&utm_medium=api&utm_campaign=api","views":1149,"num_favorers":209,"shipping_template_id":134864907204,"processing_min":10,"processing_max":15,"who_made":"i_did","is_supply":"false","when_made":"made_to_order","item_weight":"5","item_weight_unit":"oz","item_length":"5","item_width":"5","item_height":"5","item_dimensions_unit":"in","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","should_auto_renew":true,"language":"en-US","has_variations":true,"taxonomy_id":890,"taxonomy_path":["Electronics
        & Accessories","Video Games"],"used_manufacturer":false,"is_vintage":false},{"listing_id":990180892,"state":"active","user_id":75103140,"category_id":null,"title":"Legend
        of Zelda - Mirror Shield Necklace","description":"Legend of Zelda - Mirror
        Shield Necklace\n\nOwn one of the Unique Legend of Zelda shields from the
        iconic Series.\n\n\nNecklace Length and Style\n\n\n18&quot; Leather Thong
        Cord with a Lobster Claw Clasp\n\n20&quot; Link Chain with a Lobster Claw
        Clasp\n\n20&quot; Silver Snake Chain with a Lobster Claw Clas[...]
