---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=Ergonomic%20Granite%20Shirt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - 1ab2c3d0e2bf5a7fd5fdbc643ad94f0c/17148068601178532633;o=0
      X-Etsy-Request-Uuid:
      - Eu6GERrIikl2p5nG8a_ekM3o3Y7e
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9941'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":0,"results":[],"params":{"limit":25,"offset":0,"page":null,"keywords":null,"sort_on":"created","sort_order":"down","min_price":null,"max_price":null,"color":null,"color_accuracy":0,"tags":"Ergonomic
        Granite Shirt","taxonomy_id":null,"location":null,"lat":null,"lon":null,"region":null,"geo_level":"city","accepts_gift_cards":"false","translate_keywords":"false"},"type":"Listing","pagination":{"effective_limit":25,"effective_offset":0,"next_offset":null,"effective_page":1,"next_page":null}}'
  recorded_at: Mon, 19 Jul 2021 17:01:11 GMT
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=Awesome%20Steel%20Shirt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - 3b3aa333691e7b19d4981759c2cb5721/1232255073558360233;o=0
      X-Etsy-Request-Uuid:
      - Eu6OwtOIVHta9oqNmMAgqH4TLW1c
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9940'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":7,"results":[{"listing_id":889721086,"state":"active","user_id":293456739,"category_id":null,"title":"I
        Am A Lucky Son In Law I Have A Freaking Awesome Mother In Law She Has A Backbone
        Made Of Steel If You Mess With Me T-Shirt, Mother T-Shirt","description":"Here&#39;s
        the scoop on our T-Shirts:\n* This updated unisex essential fits like a well-loved
        favorite, featuring a crew neck, short sleeves and designed with superior
        combed and ring-spun cotton that acts as the best blank canvas for printing.\n*
        Sideseamed. Retail fit. Unisex sizing. Shoulder taping.\n* 100% Airlume combed
        and ring-spun cotton, 32 single 4.2 oz. (Ash - 99% Airlume combed and ring-spun
        cotton, 1% poly)\n\nMore Description\n* Our T Shirts are buttery soft, super
        comfortable and likely to become your go to shirt for work or play.\n* Our
        Process & Shipping:\nShips Within 4-7 Days - Typically Arrives In Less Than
        10 Days\nIf for some reason we&#39;re unable to ship within 7 days we&#39;ll
        contact you to let you know.\nDesigned and printed in the U.S.A\n* How to
        care:\nWash inside out with like colors.\nTumble dry low or hang to dry.\nTry
        not to iron directly over the design. Also, don&#39;t iron t-shirts!\n* If
        you have any questions please ask! We normally respond in 24 hours.\nAll the
        best and thank you for shopping.","creation_tsz":1626521686,"ending_tsz":1637152486,"original_creation_tsz":1605249061,"last_modified_tsz":1626521686,"price":"16.95","currency_code":"USD","quantity":99,"sku":[],"tags":["Gift
        For Men","Gift For Son","Mother T-Shirt","I Am A Lucky","Son In Law","I Have
        A Freaking","Awesome T-Shirt","Mother In Law","She Has A Backbone","Made Of
        Steel","If You Mess With Me","The Beast In","Her Will Awake"],"materials":[],"shop_section_id":null,"featured_rank":null,"state_tsz":1626480633,"url":"https:\/\/www.etsy.com\/listing\/889721086\/i-am-a-lucky-son-in-law-i-have-a?utm_source=gifty&utm_medium=api&utm_campaign=api","views":16,"num_favorers":0,"shipping_template_id":97216923207,"processing_min":3,"processing_max":6,"who_made":"i_did","is_supply":"false","when_made":"made_to_order","item_weight":null,"item_weight_unit":"g","item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"mm","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","should_auto_renew":false,"language":"en-US","has_variations":true,"taxonomy_id":11165,"taxonomy_path":["Clothing","Unisex
        Adult Clothing","Tops & Tees","T-shirts","Graphic Tees"],"used_manufacturer":false,"is_vintage":false},{"listing_id":1048426819,"state":"active","user_id":293456739,"category_id":null,"title":"I
        Get My Attitude From My Frekin&#39; Awesome Dad He Is A Bit Crazy And Scares
        Me Sometimes He Loves Me Unconditionally T-Shirt, Wife Shirt","description":"Here&#39;s
        the scoop on our T-Shirts:\n* This updated unisex essential fits like a well-loved
        favorite, featuring a crew neck, short sleeves and designed with superior
        combed and ring-spun cotton that acts a[...]
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=Ergonomic%20Concrete%20Gloves
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - cba1ac19ce8734d5f724b55db5890c20/5078802168413869329;o=0
      X-Etsy-Request-Uuid:
      - EuLl44DzOg3b3PXGZln8r0rWcG44
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9939'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":0,"results":[],"params":{"limit":25,"offset":0,"page":null,"keywords":null,"sort_on":"created","sort_order":"down","min_price":null,"max_price":null,"color":null,"color_accuracy":0,"tags":"Ergonomic
        Concrete Gloves","taxonomy_id":null,"location":null,"lat":null,"lon":null,"region":null,"geo_level":"city","accepts_gift_cards":"false","translate_keywords":"false"},"type":"Listing","pagination":{"effective_limit":25,"effective_offset":0,"next_offset":null,"effective_page":1,"next_page":null}}'
  recorded_at: Mon, 19 Jul 2021 17:01:12 GMT
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=Fantastic%20Iron%20Car
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - 20bea5545395279c6ff493b52c9e780f/16409341909149871486;o=1
      X-Etsy-Request-Uuid:
      - EuXTyBXv5mqsTuuQg_aVYnQae565
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '[...]
