---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=Guitar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - 4659d552c771a1ebf3787234edd054f1/481573863425244330;o=0
      X-Etsy-Request-Uuid:
      - EuKWBlYEpfEzNxKSa1vGy8hQtmf6
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9912'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":50100,"results":[{"listing_id":892590768,"state":"active","user_id":363591868,"category_id":null,"title":"Luxurious
        Bag Strap  Guitar Strap Camera Strap Shoulder Strap Evening Bag","description":"With
        this bag strap I can offer something very special. \nIt is a hand-embroidered
        border, which reminds of museum quality, or of the monastery work of past
        times.\nIt is finest bullion embroidery, made to the millimeter by a professional
        embroiderer, the back, which can be seen on a photo, shows the effort.\nThe
        gold, on black velvet, has a luxurious appearance, it looks like real. \nFor
        the illustration I have chosen a small Persian fur bag, for my taste the strap
        on a small bag looks especially good.\nIt has a length of 115 cm, including
        the carabiner.\nA length adjuster cannot be incorporated because of the raised
        nature of the material.\nBut also great as a small handle!\nI will gladly
        make this replacement strap according to your wishes regarding the length,
        please ask.\nAs shown on another photo, this strap is also available in gold\/silver
        with crystal clear glass stone, you tell me which version you prefer.\nWith
        this bag strap or handle you can be sure of great admiration\nWidth 4 cm.","creation_tsz":1626722462,"ending_tsz":1637353262,"original_creation_tsz":1605643274,"last_modified_tsz":1626722462,"price":"85.00","currency_code":"EUR","quantity":1,"sku":[],"tags":["Guitar
        Strap","Evening Bag","Velvet","Luxurious Bag Strap","Gold"],"materials":[],"shop_section_id":30578228,"featured_rank":null,"state_tsz":1605643274,"url":"https:\/\/www.etsy.com\/listing\/892590768\/luxurious-bag-strap-guitar-strap-camera?utm_source=gifty&utm_medium=api&utm_campaign=api","views":79,"num_favorers":4,"shipping_template_id":112818876683,"processing_min":1,"processing_max":2,"who_made":"i_did","is_supply":"false","when_made":"2020_2021","item_weight":null,"item_weight_unit":"g","item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"mm","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","should_auto_renew":true,"language":"en-US","has_variations":false,"taxonomy_id":161,"taxonomy_path":["Bags
        & Purses","Handbags","Shoulder Bags"],"used_manufacturer":false,"is_vintage":false},{"listing_id":585477100,"state":"active","user_id":15024508,"category_id":null,"title":"Guitar
        Hero Necklace - 18&quot; handmade chain necklace with pewter &quot;guitar
        pick&quot; pendants.","description":"Handmade chain of gunmetal plated rings
        with five pewter pendants shaped like guitar picks. Approx 18&quot; long.\n\nCheck
        SHOP INFO page for current COUPON CODE.","creation_tsz":1626722460,"ending_tsz":1637353260,"original_creation_tsz":1520620678,"last_[...]
