---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=nintendo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - 50b5b1e877f91759f51bde2d2cb845c7/11242290713446856569;o=1
      X-Etsy-Request-Uuid:
      - EuX8dbwE6tyIhqonOpxgO-Y1aq07
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9966'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":50100,"results":[{"listing_id":897556493,"state":"active","user_id":374469014,"category_id":null,"title":"Mew
        Emotes, Pokemon (Twitch\/Discord)","description":"Set of Mew emotes for Discord
        and Twitch\n\nYou will find all the emotes in the following sizes:\n\n28 x
        28, 56 x 56, 112 x 112\n\nThis set is non-exclusive. Every person who buys
        it will have permission to use it.\n\nIt contains:\n\n\u2764 Mew Angry\n\u2764
        Mew Confused\n\u2764 Mew Cry\n\u2764 Mew Hi\n\u2764 Mew Hype\n\u2764 Mew Love\n\u2764
        Mew No\n\u2764 Mew Sleepy\n\nI don&#39;t accept returns, exchanges, or cancellations.
        But if you have any problem please contact me! \nI hope you enjoy your purchase!
        ^^ \u273f\u273f","creation_tsz":1626702783,"ending_tsz":1637333583,"original_creation_tsz":1604378971,"last_modified_tsz":1626702783,"price":"10.00","currency_code":"USD","quantity":891,"sku":[],"tags":["pokemon","emote","twitch","discord","mew","nintendo"],"materials":[],"shop_section_id":31916934,"featured_rank":null,"state_tsz":1604378972,"url":"https:\/\/www.etsy.com\/listing\/897556493\/mew-emotes-pokemon-twitchdiscord?utm_source=gifty&utm_medium=api&utm_campaign=api","views":2059,"num_favorers":449,"shipping_template_id":null,"processing_min":null,"processing_max":null,"who_made":"i_did","is_supply":"false","when_made":"2020_2021","item_weight":null,"item_weight_unit":"g","item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"mm","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":true,"file_data":"1
        ZIP","should_auto_renew":true,"language":"en-US","has_variations":false,"taxonomy_id":77,"taxonomy_path":["Art
        & Collectibles","Drawing & Illustration","Digital"],"used_manufacturer":false,"is_vintage":false},{"listing_id":946941232,"state":"active","user_id":363015350,"category_id":null,"title":"Sakura
        Mochi - Nintendo Switch & Switch Lite Thumb Grips","description":"Charming
        pink thumb grips in the shape of Japanese cherry blossoms!\n\nThese thumb
        grips are compatible with the Nintendo Switch and Nintendo Switch Lite.\n\nWe
        offer a variety of unique designs to fulfill everyone&#39;s aesthetic needs!","creation_tsz":1626702650,"ending_tsz":1637333450,"original_[...]
