---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=nintendo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - fd2a4035d11e53fbe3f4745d87df4c3a/5898861421100295253;o=0
      X-Etsy-Request-Uuid:
      - EuLFrc-qP8tQ_7AWtyLo-kUDH18e
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9916'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":50100,"results":[{"listing_id":1040601069,"state":"active","user_id":37212788,"category_id":null,"title":"Silver
        Wing Feather Enamel Pin","description":"I WILL STILL BE SHIPPING INTERNATIONALLY.
        Shipping delays are to be expected due to the current COVID-19 situation.
        \n\nPin Details:\n\n- Hard enamel\n- Gold plating\n- 1.5 inches\n- Double
        rubber clutch\n- Backed on illustrated card\n\n\n\u2605  SHIPPING INFO \u2605\n\nCanadian
        standard shipping is with Canada Post, US shipping is with ChitChats\/USPS,
        and other International shipping is with ChitChats\/Asendia. Outside of Canada
        it can take about 3-7 weeks to arrive. Tracking is included with US, and some
        international orders (including United Kingdom, Germany, Singapore, Australia).
        Tracked Canadian shipping can be selected. Please note that I can\u2019t be
        held responsible for any mail loss.","creation_tsz":1626722425,"ending_tsz":1637353225,"original_creation_tsz":1624425706,"last_modified_tsz":1626722425,"price":"16.00","currency_code":"CAD","quantity":25,"sku":[],"tags":["pokemon","silver
        wing","lugia","feather","pikachu","nintendo","enamel pin","lapel pin","shumi
        collective","ho oh","rainbow wing","video games","heart gold soul"],"materials":[],"shop_section_id":29154623,"featured_rank":null,"state_tsz":1624507065,"url":"https:\/\/www.etsy.com\/listing\/1040601069\/silver-wing-feather-enamel-pin?utm_source=gifty&utm_medium=api&utm_campaign=api","views":55,"num_favorers":30,"shipping_template_id":85276446315,"processing_min":5,"processing_max":10,"who_made":"i_did","is_supply":"false","when_made":"2020_2021","item_weight":null,"item_weight_unit":"g","item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"mm","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","should_auto_renew":true,"language":"en-US","has_variations":false,"taxonomy_id":41,"taxonomy_path":["Accessories","Patches
        & Pins","Pins & Pinback Buttons"],"used_manufacturer":false,"is_vintage":false},{"listing_id":856734237,"state":"active","user_id":48748438,"category_id":null,"title":"Sakura
        Shaker Mold A S027 \/ Shaker Mold \/ Silicone Mold","description":"Use with
        Epoxy Resin\n\n10 mm Thickness\n\n* Through-Cavity Mold.\n\n   Through-Cavity
        Mold have to pour resin over the surface level of mold.\n\n   I have many
        molds that design for making more space of cavity so I don&#39;t make the
        back wall of shaker. \nThe work piece&#39;s cavity depth[...]
