---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=nintendo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - d32c3b0ef62edf39349769359d75fcad/3182058903287532234;o=1
      X-Etsy-Request-Uuid:
      - Eu7Nl_M-RnI3t_-B_2XbEO6Bnq41
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9909'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":50100,"results":[{"listing_id":985895899,"state":"active","user_id":192150042,"category_id":null,"title":"My
        Neighbour\/Pokemon\/Super Mario Joystick Caps for Nintendo Switch\/Nintendo
        Switch Lite -Thumb Grip Silicone Cover for Joy-con Controller","description":"My
        Neighbour\/Pokemon\/Super Mario Joystick Caps for Nintendo Switch\/Nintendo
        Switch Lite -Thumb Grip Silicone Cover for Joy-con Controller\n\nAbout thisThumb
        Grip Caps For Nintendo Switch\/Nintendo Switch Lite:\n\n**Made of Silicone\uff1aensure
        they will not slide of\n\n**Ship in 1-5 days\uff08No need to wait a few weeks\uff09\n\n**Customize
        your Nintendo Switch or Switch Lite with these super cute silicone thumb grips\n\n**Compatible
        with both Nintendo Switch and Switch Lite\n\n**Perfect accessory to complement
        your switch console and give a new nice look\n\n**Keep your switch controller
        thumb sticks in perfect condition and comfortable for game play\n\n**Note:
        selling joy-con protector & grip cover only, not include the Joy-con\n\n**Please
        note that the colours may differ slightly due to monitor settings\n\nAbout
        Shipping\n\n**Check out our other listings for Nintendo Switch thumb grips,
        skins, cases, covers & game box. \n    We offer free shipping on USA orders
        over $35.\n\n**Tracking number available within 15 days after parcel ship
        out.\n   But due\u00a0to\u00a0the\u00a0COVID-19\u00a0pandemic,\u00a0the\u00a0current\u00a0estimated\u00a0delivery\u00a0duration\u00a0is\u00a02-4\u00a0weeks.\n\n~~Thanks
        for visiting my shop, any question, pls don\u2019t hesitate to contact me~~","creation_tsz":1626722841,"ending_tsz":1637353641,"original_creation_tsz":1616422883,"last_modified_tsz":1626722841,"price":"4.80","currency_code":"USD","quantity":169,"sku":["9.8"],"tags":["Animal
        Crossing","Nintendo Switch Case","Switch Controller","Switch Thumb Grip","Nintendo
        Switch Grip","Joycon Grip","Switch Joy Con Grip","Nintendo Switch Lite","Switch
        lite skin","Switch Lite case","thumb grip caps","Switch Accessories","Sailor
        Moon"],"materials":["Animal Crossing New Horizons","Nintendo Switch","Nintendo
        Switch Case","Nintendo Switch Lite","Joycon cap","Switch Joycon caps","thumb
        grips caps","Switch Thumb Grips","Switch grip cover","Switch grip covers","Switch
        Lite caps","thumb grip cute","thumb grip caps game"],"shop_section_id":29725319,"featured_rank":null,"state_tsz":1626049850,"url":"https:\/\/www.etsy.com\/listing\/985895899\/my-neighbourpokemonsuper-mario-joystick?utm_source=gifty&utm_medium=api&utm_campaign=api","views":3430,"num_favorers":1735,"shipping_template_id":133531080880,"processing_min":1,"processing_max":3,"who_made":"i_did","is_supply":"false","when_made":"made_to_order","item_weight":null,"item_weight_unit":"g","item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"mm","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","should_auto_renew":false,"language":"en-US","has_variations":true,"taxonomy_id":890,"taxonomy_path":["Electronics
        & Accessories","Video Games"],"used_manufacturer":false,"is_vintage":false},{"listing_id":1030082829,"state":"active","user_id":361967401,"category_id":null,"title":"Bad
        Fur Day English Version, US Nintendo 64 Games, N64 Games, Free Shipping","description":"Bad
        Fur Day English Version, US Nintendo 64 Games, N64 Games, Free Shipping\n\n\n-
        Test and work great.\n- We usually ship orders within 2 day after payment
        clears in working day\n- Version: English US\/Canada\n- 100% brand new\n-
        All games are brand new and always teste[...]
