---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/active?api_key=<api_key>&tags=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cloud-Trace-Context:
      - 9546bceda093a3a8c1d9a5d951f2db47/11662775389666190718;o=0
      X-Etsy-Request-Uuid:
      - Eu5xj2ZDYLMS3iOM0dcIKNEMyPf3
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9964'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":50100,"results":[{"listing_id":711181537,"state":"active","user_id":54449130,"category_id":null,"title":"Sterling
        silver personalised disc pendant with tree of life pendant - engraved necklace
        - silver necklace - TP\/AC0414\/PER","description":"Sterling silver (.925)
        personalised disc pendant with tree of life pendant. Available in sterling
        silver (.925),  9ct yellow gold plate over sterling silver (.925) or 9ct rose
        gold plate over sterling silver (.925).\n\nMake your gift memorable by adding
        a personalised touch. Personalisation can be added to the front and back with
        up to 35 characters on each, making it perfect for a meaningful message for
        a loved one or even yourself. \n\nSterling silver (.925) pendant\nSterling
        silver (.925) diamond cut curb chain\nThe disc measures 18mm (h) x 18mm (w)\nThe
        charm measures 16mm (h) x 16mm (w)\nGift box included\n\n\nWe plate our own
        jewellery to make sure there are no traces of nickel or lead, and to ensure
        a long lasting finish. \n\nPlease review our shop&#39;s policy page before
        placing your order.","creation_tsz":1626704863,"ending_tsz":1637335663,"original_creation_tsz":1559553549,"last_modified_tsz":1626704863,"price":"22.95","currency_code":"GBP","quantity":323,"sku":["AC2207\/AC0414-14IN-SIL-CURB","AC2207\/AC0414-18IN-SIL-CURB","AC2207\/AC0414-20IN-SIL-CURB","AC2207\/AC0414\/Y-14IN-PLGOLD-CURB","AC2207\/AC0414\/Y-16IN-PLGOLD-CURB","AC2207\/AC0414\/Y-18IN-PLGOLD-CURB","AC2207\/AC0414\/R-16IN-PLROSE-CURB","AC2207\/AC0414\/R-NOCHAIN","AC2207\/AC0414-16IN-SIL-CURB","AC2207\/AC0414-NOCHAIN","AC2207\/AC0414\/Y-20IN-PLGOLD-CURB","AC2207\/AC0414\/Y-NOCHAIN","AC2207\/AC0414\/R-14IN-PLROSE-CURB","AC2207\/AC0414\/R-18IN-PLROSE-CURB","AC2207\/AC0414\/R-20IN-PLROSE-CURB"],"tags":["Silver
        necklace","gold necklace","personalised gift","custom necklace","customized
        necklace","engraved necklace","disc pendant","name necklace","date necklace","tree
        of life","family necklace","Mother''s Day gift","gift for mum"],"materials":["Silver","Rose
        gold","Gold"],"shop_section_id":25863702,"featured_rank":null,"state_tsz":1615331152,"url":"https:\/\/www.etsy.com\/listing\/711181537\/sterling-silver-personalised-disc?utm_source=gifty&utm_medium=api&utm_campaign=api","views":2637,"num_favorers":85,"shipping_template_id":70350823483,"processing_min":1,"processing_max":2,"who_made":"collective","is_supply":"false","when_made":"2020_2021","item_weight":null,"item_weight_unit":"g","item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"mm","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","should_auto_renew":true,"language":"en-US","has_variations":true,"taxonomy_id":1229,"taxonomy_path":["Jewelry","Necklaces","Pendants"],"used_manufacturer":false,"is_vintage":false},{"listing_id":851010760,"state":"active","user_id":23073284,"category_id":null,"title":"Custom
        Name Bead Bracelet | Heishi Bracelet","description":"This listing is for one
        bracelet. \n\nThe standard size for the bracelets is 6.75 inches. You may
        request custom sizes in the personalization box. We can make bracelets for
        children as well, but please measure their wrists for the most accurate sizing.
        Please reference the chart posted in the photos if y[...]
